
body {
    box-sizing: border-box;
    position: relative;
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}


#drag-bar-login {
    height: 20px;
    width: 100%;
    position: absolute;
    top: -125px;
}


#drag-bar {
    height: 20px;
    width: 100%;
    position: absolute;
    top: 0;
}


#login {
    width: 300px;
    height: 250px;
    margin: 125px 150px;
}


#login h2,
#login #logo {
    display: inline-block;
}


#login #logo {
    width: 32px;
}


.side-bar,
.details {
    float: left;
    box-sizing: border-box;
    height: 500px;
}


.side-bar {
    width: 200px;
}


.side-bar > .device {
    box-sizing: border-box;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-top: 1px solid black;
    width: 100%;
}


.side-bar > .device:last-child {
    border-bottom: 1px solid black;
}


.side-bar > .device .status-icon {
    position: absolute;
    top: 10px;
    right: 0;
    width: 38px;
    text-align: center;
}

.side-bar > .device a.name {
    display: block;
    color: black;
    text-decoration: none;
}


.details {
    width: 345px;
}


.block {
    width: 100%;
}


.one-quarter {
    width: 25%;
}


.one-third {
    width: 33%;
}


.one-half {
    width: 50%;
}


.three-quarters {
    width: 75%;
}


.success {
    color: green;
}


.warning {
    color: red;
}


.clickable {
    cursor: pointer;
}


.label {
    font-weight: bold;
}


.no-border {
    border: none;
}


.device-detail-item {
    padding-left: 20px;
    padding-right: 20px;
}


.device-variables,
.device-functions {
    margin-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.device-variables > h3,
.device-functions > h3 {
    color: blue;
}


.device-function-item > button,
.device-variable-item > button {
    width: 22%;
}


.device-function-item {
    box-sizing: border-box;
    position: relative;
}


.device-function-item > label {
    display: block;
    margin-bottom: 5px;
}


.device-variable-item > span {
    display: inline-block;
}


.call-feedback {
    display: inline-block;
    width: 22%;
    text-align: center;
}
