
body {
    position: relative;
    font-family: sans-serif;
    margin: 0;
}


#drag-bar-login {
    height: 20px;
    width: 100%;
    position: absolute;
    top: -125px;
}


#drag-bar {
    height: 20px;
    width: 100%;
    position: absolute;
}


#login {
    width: 250px;
    height: 250px;
    margin: 125px 75px;
}


.device {
    box-sizing: border-box;
    position: relative;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    transition: all 0.3s ease-in-out;
}


.block {
    width: 100%;
}


.one-quarter {
    width: 25%;
}


.one-third {
    width: 33%;
}


.one-half {
    width: 50%;
}


.three-quarters {
    width: 75%;
}


.success {
    color: green;
}


.warning {
    color: red;
}


.clickable {
    cursor: pointer;
}


.label {
    font-weight: bold;
}


.no-border {
    border: none;
}


.device.clickable:hover {
    background: black;
    color: white;
}


.device > h1 {
    font-size: 1.75em;
}


.device > h1 a {
    text-decoration: none;
    color: black;
}


.device-detail-item {
    padding-left: 20px;
    padding-right: 20px;
}


.device-variables,
.device-functions {
    margin-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.device-variables > h3,
.device-functions > h3 {
    color: blue;
}


.device-function-item > button,
.device-variable-item > button {
    width: 22%;
}


.device-function-item {
    box-sizing: border-box;
    position: relative;
}


.device-function-item > label {
    display: block;
    margin-bottom: 5px;
}


.device-variable-item > span {
    display: inline-block;
}


.call-feedback {
    display: inline-block;
    width: 22%;
    text-align: center;
}


.status-icon {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 75px;
    height: 60px;
    text-align: center;
}
