form > .group {
    margin-bottom: 20px;
}

input {
    border: 1px solid #B8B8B8;
    padding: 0 10px;
    height: 30px;
    line-height: 1.5;
}

input:focus {
    outline: none;
    border: none;
    background: #3875D7;
    color: white;
}


input:focus::-webkit-input-placeholder {
    color: white;
}


button {
    background-color: white;
    border: 1px solid #B8B8B8;
    height: 30px;
}

button:active {
    background-color: #3875D7;
    color: white;
}

button:focus {
    outline: none;
}


::-webkit-input-placeholder {
    color: #B8B8B8;
}
