<div class="device no-border">
    <h1>{{ device.name }}</h1>
    <i ng-if="device.connected" class="fa fa-wifi fa-4x success status-icon"></i>
    <i ng-if="!device.connected" class="fa fa-exclamation fa-4x warning status-icon"></i>
</div>

<div class="device-detail-item">
    <span class="label">ID: </span>
    <span class="value">{{ device.id }}</span>
</div>

<div class="device-detail-item">
    <span class="label">CC3000: </span>
    <span class="value">v{{ device.cc3000_patch_version }}</span>
</div>

<div ng-if="deviceVariables.length > 0" class="device-variables">
    <h3>Variables</h3>
</div>

<div ng-if="deviceFunctions.length > 0" class="device-functions">
    <h3>Functions</h3>
    <form ng-repeat="f in deviceFunctions" class="device-function-item" ng-submit="call( f )">
        <label class="label">{{ f.name }}:</label>
        <input ng-model="f.argsName" class="one-quarter" type="text" placeholder="paramName" required/>
        <input ng-model="f.argsValue" class="one-half" type="text" placeholder="param1,param2,param3" required/>
        <button ng-if="!callRunning && !callSuccess" type="submit">Call</button>
        <span ng-if="callRunning" class="call-feedback working">Working...</span>
        <span ng-if="!callRunning && callSuccess" class="call-feedback success">Done!</span>
    </form>
</div>
