<form ng-submit="login()" name="loginForm" id="login" novalidate>
    <img id="logo" src="images/spark-core.png">
    <h2>Spark Core Login</h2>
    <div class="error" ng-if="errorMessage.length > 0">
        <i class="fa fa-warning"></i> {{ errorMessage }}
    </div>
    <div class="group">
        <input ng-model="username" id="username" name="usernameField" class="block" type="text" placeholder="username" required/>
    </div>
    <div class="group">
        <input ng-model="password" id="password" name="passwordField" class="block" type="password" placeholder="password" required/>
    </div>
    <div class="group">
        <button id="login-button" class="block" type="submit">Login</button>
    </div>
</form>
